
  <div class="navbar">
    <div class="logo">
        <h1>Reboot Lab</h1>
    </div>
    <div class="attribute">
    <div class="search-box">
        <input type="text" placeholder="Search Pen number/name...">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="filter-column">
        <select name="Fiter" id="cars">
            <option value="1">Option 1</option>
            <option value="2">Option 1</option>
            <option value="3">Option 1</option>
            <option value="4">Option 1</option>
        </select>
    </div>
    </div>
  </div>
