<div id="main">
<app-header></app-header>
<!-- Begin Page Content -->
<div class="container">
    <div class="first">
        <a href="#">Workflow</a>
        <a href="#">PAN Validation</a>
        <a href="#">Addhar Validation</a>
        <a href="#">xyz</a>
    </div>
    <div class="second">
        <div class="tableContainer">
            <table>
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>PAN</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="penMiss == 0">
                    <tr *ngIf="visible">
                        <td>1</td>
                        <td>{{inputPen.ip}}</td>
                        <td>{{inputPen.region}}</td>
                        <td><button>Add</button><button (click)="remove()">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Testing for Pagination -->
        <!-- <div *ngFor="let item of arr | slice:startIndex:endIndex; let i = index">{{item.num}}</div> -->
        <!-- !Testing for Pagination -->
        <ul class="pagination">
            <li class="page-item"><a (click)="changeIndex(-1)" class="page-link" href="#">Previous</a></li>
            <li class="page-item" *ngFor="let a of getArrayLenght() let i = index">
              <a class="page-link" (click)="getIndex(i)" >{{i+1}}</a>
              </li>
            <li class="page-item"><a class="page-link" (click)="changeIndex(1)" href="#">Next</a></li>
        </ul>
    </div>
</div>
</div>