/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    /* background-color: #c0f0c9; */
    color: #008080;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
}